/*style page for the home.html*/

* { 
  box-sizing: border-box;
}

body {

  background-image: url("../images/animatedBookcases.jpg");
  background-attachment: fixed;
}


navBar{
position: absolute;
}


.title{
  font-family: 'Cabin Sketch', cursive;
  color: white;
  line-height: 65px;
  margin-left: 135px;
}

h2{
<<<<<<< HEAD
<<<<<<< HEAD
color: #ffffff; font-family: 'Lobster', cursive; font-size: 24px; 
 font-weight: lighter; text-align: center
=======
  color: #ffffff; font-family: 'Lobster', cursive; font-size: 24px; 
   font-weight: lighter; text-align: center
>>>>>>> 9f663a320edbbd11b2da1d47547549407a79f9b1
=======

color: #ffffff; font-family: 'Lobster', cursive; font-size: 24px; 
 font-weight: lighter; text-align: center

  color: #ffffff; font-family: 'Lobster', cursive; font-size: 24px; 
   font-weight: lighter; text-align: center

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
}

.footer {
text-align: center;
width: 100%;
position: fixed;
bottom: 0px;
margin-top: 35px;
padding: 50px;
clear: both;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
h1.subHeader{
  color: #ffffff; font-family: 'Serif', cursive; font-size: 30px; 
  font-weight: bold; text-align: center; 

  margin-bottom: 40px;
  margin-top: -100px;
}

#navContainer{
   max-height: 150px;
}
<<<<<<< HEAD
=======
  h1.subHeader{
    color: #ffffff; font-family: 'Serif', cursive; font-size: 30px; 
    font-weight: bold; text-align: center; 
=======

  h1.subHeader{
    color: #ffffff; font-family: 'Serif', cursive; font-size: 30px; 
    font-weight: bold; text-align: center; 

    margin-bottom: 40px;
    margin-top: -100px;
 }
>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37

    margin-bottom: 40px;
    margin-top: -100px;
 }
>>>>>>> 9f663a320edbbd11b2da1d47547549407a79f9b1



<<<<<<< HEAD
<<<<<<< HEAD
/*carousel related*/

.carousel-inner{
background: rgb(37, 28, 28);
  max-width: 150%;
=======

/*carousel related*/

.carousel-inner{
  background: rgb(37, 28, 28);
    max-width: 150%;
>>>>>>> 9f663a320edbbd11b2da1d47547549407a79f9b1
}
=======

/*carousel related*/

.carousel-inner{
background: rgb(37, 28, 28);
  max-width: 150%;
>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37

/*carousel related*/

.carousel-inner{
  background: rgb(37, 28, 28);
    max-width: 150%;

<<<<<<< HEAD
.carousel-caption {
<<<<<<< HEAD
  position: relative;
  
}

.carousel-inner > .item > img{
text-align: center;
border: black solid 5px;
=======
}

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37

.carousel-caption {

<<<<<<< HEAD
}
=======
    position: relative;
    
=======
  position: relative;
  
>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
}

.carousel-inner > .item > img{
 text-align: center;
  border: black solid 5px;


<<<<<<< HEAD
  }
>>>>>>> 9f663a320edbbd11b2da1d47547549407a79f9b1
=======
}

    position: relative;
    
}

.carousel-inner > .item > img{
 text-align: center;
  border: black solid 5px;


  }

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37

* { 
box-sizing: border-box;
}

.item{
<<<<<<< HEAD
<<<<<<< HEAD
margin: 10%;

=======
  margin: 10%;
 
>>>>>>> 9f663a320edbbd11b2da1d47547549407a79f9b1
=======

margin: 10%;
  margin: 10%;
 
>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
}




/*form related*/

.form-group{
font-family: 'Indie Flower', cursive;
position:absolute;
}

.control-label{
  color: white;
}

.checkbox{
  color: white;
}



.headerMain{
  color: #ffffff; font-family: 'Lobster', cursive; font-size: 56px; 
  font-weight: bolder; text-align: center; vertical-align: bottom

}

h3.subTitle{
  font-size: 18px;
  font-family:  Helvetica;
  color: white;
  vertical-align: bottom;
  vertical-align: text-bottom;

    }

    .subtitle1 {
      position: relative;
      top: 30px;
      right: 90px;
  }
  .img{
    text-align: center;
    margin-top: 20px;
  }

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
  .icon{
    background-color: #ffffff;
    margin-top: 20px;
  }
<<<<<<< HEAD
=======
=======

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
  

  .headerMain{
    color: #ffffff; font-family: 'Lobster', cursive; font-size: 56px; 
    font-weight: bolder; text-align: center; vertical-align: bottom

  }

  h3.subTitle{
    font-size: 18px;
    font-family:  Helvetica;
    color: white;
    vertical-align: bottom;
    vertical-align: text-bottom;

      }
  
      .subtitle1 {
        position: relative;
        top: 30px;
        right: 90px;
    }
    .img{
      text-align: center;
      margin-top: 20px;
    }

    .icon{
      background-color: #ffffff;
      margin-top: 20px;
    }
<<<<<<< HEAD
>>>>>>> 9f663a320edbbd11b2da1d47547549407a79f9b1
=======

>>>>>>> 78a76852a953c995505a35106306b6a233bb4a37
