/*style page for the login.html*/

* { 
    box-sizing: border-box;
}

body {

    background: url("../images/animatedBookcases.jpg");
    background-attachment: fixed;
}



navBar{
position: absolute;
}

  .title{
    font-family: 'Cabin Sketch', cursive;
    color: white;
    line-height: 65px;
    margin-left: 135px;
}

h2{
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
    color: white;
}



.footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-top: 35px;
  padding: 50px;
  clear: both;

}


/*form related*/

.form-group{
font-family: 'Indie Flower', cursive;
position:absolute;
float:center;

}

.control-label{
  color: white;
}

.checkbox{
  color: white;
}


.newAccount{
float: left;  
  }
  
  .currentAccount{
    float: right;

       }