.carousel-inner > .item > img{
    margin:auto;
   
    }

* { 
    box-sizing: border-box;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
* { 
    box-sizing: border-box;
}

body {

    background-image: url("../images/animatedBookcases.jpg");
    background-attachment: fixed;
}



navBar{
position: absolute;
}

  

  h1{
    font-family: 'Cabin Sketch', cursive;
    color: white;
    line-height: 65px;
    text-align: center
}

h2{
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  color: white;

}


/*carousel related*/

.carousel-inner{
  background: rgba(128, 128, 128, 0.764)
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.currentAccount{
float: right;
margin-right: 40%;
}

.footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-top: 35px;
  padding: 50px;
  clear: both;
}


/*form related*/
.form-group{
font-family: 'Indie Flower', cursive;
position:absolute;
}

.control-label{
  color: white;
}

.checkbox{
  color: white;
}



/*ALL MASONRY UNTIL NEXT PSUEDOCODE*/

.grid {
    background: rgb(37, 28, 28);
    margin-left: 3%;
    margin-right: 3%;
    max-width: 90%;
    margin-top: 2%;
    margin-bottom: 6%;
    

  }
  
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  

  
  .grid-item {
    float: center;
    margin: 2px;
    width: 91%;
    background: bisque;
    border: solid 2px black;
    margin-right: 5px;
    max-width: 350px;

  }

  .grid-item--med{
      width: 94%;
      background: bisque;
      margin: 7px;

  }

  .grid-item--lg{
    width: 96%;
    background: bisque;
    margin: 7px;

}

.grid-item--sm{
    width: 90%;
    margin: 7px;
    background: bisque
}


  .grid-item img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    align-content: center
     
}
.grid-alpha{
  display: none;
  position: fixed;
  background-color: rgba(244, 243, 244, 0.963);
  width: 60%;
  height: 60%;
  top: 14%;
  left: 17.5%;
  text-align: center;
}


@media only screen and (min-width: 1024px) {
    .grid {
      column-count: 6;
    }

  img.img-circle{
    position: absolute;
    width: 140px; 
    height: 140px;
    z-index: -1;
    bottom: 65%;
    left: 30px;
  }
}
  

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .grid {
      column-count: 3;
    }

    img.img-circle{
      height: 200%;
      width: 72%;
      position: absolute;
      z-index: -1;
      bottom: 65%;
    } 
  }
  

  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .grid {
      column-count: 2;
      margin-top: 20px
    }

    .grid-alpha{
      position: fixed;
      top: 28%;
      left: 12%;
      height: 45%;
      width: 72%;
    }
  }


  @media only screen and (max-width: 767px){
    .grid-item{
      max-width: 60%;
      margin-left: 20%;
      }

    img.img-circle{
      position: absolute;
      bottom: 95%;
      left: 30%;
      z-index: -1;
      height: 80px;
      width: 80px;
    }
    
    .grid-alpha{
      position: fixed;
      top: 28%;
      left: 5%;
      height: 40%;
      width: 85%;
    }
  
  }

  
/*--------------End of Masonry---------------*/


.form-group{
text-align: right;
font-family: "Georgia", Times, Times New Roman, serif;
position:absolute;
top: -15%;
width: 20%;
display: block;

}


  #navContainer{
     max-height: 150px;
  }




.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  